__pycache__
.coverage
.DS_Store
.eggs/
*.egg-info
*.pyc
*.xunit.xml
.coverage
screenshots/
sphinx/source/auto
README.rst
\.ipynb_checkpoints
build/
dist/
nbpresent/static/nbpresent/
node_modules
npm-debug.log*
README.rst
screenshots/
sphinx/source/auto
