.nbpresent_layout_library {
  z-index: @z-layouts;
  position: fixed;
  bottom: @sorter-height;
  left: 0;
  right: 0;
  height: @sorter-height;
  .gradient(#444, #777);

  .slide {
    float: left;
    margin: 20px;
    opacity: 80%;
  }
}
