.nbp-link-overlay {
  .nbp-ui();

  top: 0px;
  opacity: 0.5;
  background-color: yellow;
  width: 50px;
  margin-left: -72px;

  .part-overlay {
    position: absolute;
    color: white;
    padding: 10px;
    text-align: right;
    border-radius: 2px;
  }
}
