.nbpresent-ui {
  font-family: Lato, sans-serif;

  .btn {
    color: @jpy-brand;
    background-color: transparent;
    border: none;
    font-size: 18px;
    opacity: 0.75;

    &:hover {
      opacity: 1;
    }
  }
}
