.nbpresent_sorter{
  z-index: @z-sorter;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  // height: @sorter-height;
  color: @jpy-brand;
  box-shadow: @nbpresent-z-shadow;
  transition: all 0.3s;
  background-color: @ui-bg;
  opacity: 1.0;

  &.empty .sorter_empty {
    position: absolute;
    top: 0;
  }

  .nbpresent_brand, .nbpresent_help {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 5px 10px;
    padding: 0;

    a {
      color: @jpy-brand;
    }
  }

  .nbpresent_help {
    bottom: inherit;
    top: 0;
  }

  &.offscreen {
    transition: all 0.3s;
    bottom: 100%;
    opacity: 0;
  }

  .slide_toolbar {
    position: absolute;
    top: @sorter-slide-height + 30;
  }
  .deck_toolbar{
    position: absolute;
    left: 50%;
    top: 0;
  }

  .region_toolbar{
    position: absolute;
    opacity: 0;
    display: none;
    top: -2px;
  }

  .slides_wrap {
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    height: 100%;
    width: 100%;

    .empty {
      position: absolute;
    }

    .slide.mini {
      position: absolute;
    }
  }
}
