.nbpresent_sorter{
  position: fixed;
  width: 200px;
  right: 0;
  bottom: 0;
  top: @HACK-header-height;
  color: @jpy-brand;
  box-shadow: -5px 0 -5px rgba(0,0,0,0.25);
  transition: right 0.2s;
  background-color: #fff;

  &.offscreen {
    transition: right 0.2s;
    right: -205px;
  }

  .slides_wrap {
    height: 100%;
    overflow-y: auto;
    position: relative;

    .slide {
      position: absolute;
      width: 160px;
      height: 90px;
      border: solid 1px #eee;
      border-radius: 2px;
      margin: 10px 10px 10px 10px;
      background-color: #fff;

      &.active {
        transition: border-color 0.2s;
        border-color: @active;
      }

      &.dragging {
        box-shadow: 0px 2px 5px rgba(0,0,0,0.25);
        z-index: 9999;
        opacity: 0.9;
      }

      .region {
        fill: rgba(255,255,255,0.5);
        stroke: rgba(128,128,128,0.5);

        &.active {
          stroke: @jpy-brand;
        }

        &.content_source{
          fill: navy;
        }

        &.content_outputs{
          fill: darkred;
        }

        &.content_widgets{
          fill: @jpy-brand;
        }
      }
    }
  }
}
