@theme-swatch-size: 24px;

.nbpresent-theme-overlay {
  position: fixed;
  bottom: @sorter-height;
  right: 0;
  left: 0;
  top: 0;
  background-color: rgba(50, 50, 50, 0.85);
  padding: 20px;
  z-index: @z-editor;
  overflow-y: scroll;

  .btn {
    background: none;
    color: @jpy-brand;
    border: none;
  }

  input[type="color"] {
    padding: 0;
    width: @theme-swatch-size;
    height: @theme-swatch-size;
    background-color: black;
    border: solid 1px @jpy-brand;
  }

  .selector-label {
    color: @jpy-brand;
    font-size: 18px;
  }


  .background-palette-swatch{
    width: @theme-swatch-size;
    height: @theme-swatch-size;
    float: left;
    margin: 0 4px 0 0;
    border: solid 1px @jpy-brand;
  }

  .theme-scratch {
    position: fixed;
    left: -9999px;
    top: -9999px;
  }


  .nbpresent-theme-overlay-backgrounds{

    .nbpresent-background-picker {
      li a {
        width: @sorter-slide-width;
        height: @sorter-slide-height;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    svg {
      .bg {
        stroke: @jpy-brand;
        stroke-width: 2px;
        fill: black;
      }
      .handle circle{
        fill: @jpy-brand;
        stroke: @jpy-brand;
        stroke-width: 2px;
      }
    }

    .theme-background-thumbnails{
      padding: 10px 0 30px 0;


      .theme-background-thumbnail{
        float: left;
        margin-bottom: 20px;

        img {
          z-index: -1;
          opacity: 0.5;
          position: absolute;
          max-width: @sorter-slide-width;
          max-height: @sorter-slide-height;
        }

        svg {
          opacity: 0.5;
          rect {
            fill: transparent;
          }
        }
      }
    }
  }

  .nbpresent-theme-overlay-palette{
    input[type="color"] {
      width: 64px;
      height: 64px;
    }
    .palette-chip{
      margin-bottom: 10px;

      .palette-chip-details{
        float: left;
      }
    }
  }

  .dropdown-menu{
    max-height: 50vh;
    overflow-y: scroll;
  }

  .selector-font-label{
    color: @jpy-brand;
  }

  .selector-font-size {
    padding: 2px;
    text-align: right;
    border: none;
    background: none;
    color: @jpy-brand;
  }

  .selector-color {
    border: solid 1px @jpy-brand;

    & > a {
      opacity: 0;
    }

    .dropdown-menu {
      padding: 0;
      background-color: @ui-bg;
      width: @theme-swatch-size;
      min-width: @theme-swatch-size;
      overflow-x: hidden;
    }

    li {
      margin:0;
      padding:0;
      width: @theme-swatch-size;
      a {
       width: @theme-swatch-size;
       height: @theme-swatch-size;
     }
    }
  }

  .theme-rules {
    padding-right: 20px;

    .nbpresent-theme-overlay-toolbar{
      margin-bottom: 20px;
      .focus-content label{
        color: @jpy-brand;
        padding: 0 20px 0 5px;
      }
    }

    .theme-rule-wrap {
      max-height: 70vh;
      overflow-y: auto;
    }

    .theme-rule {
      margin-bottom: 10px;

      .selector-exemplar {
        background-color: #fff;
        padding: 10px;
        * {
          margin: 0;
          padding: 0;
        }
      }
    }
}
}
