.nbpresent-theme-overlay {
  position: fixed;
  bottom: @sorter-height;
  right: 0;
  left: 0;
  top: 0;
  background-color: rgba(50, 50, 50, 0.85);
  padding: 20px;
  z-index: @z-editor;
  overflow-y: scroll;

  .nbpresent-theme-overlay-toolbar{
    position: fixed;
    right: 20px;
    left: 33.33%;
    top: 20px;
    background: black;
    box-shadow: @nbpresent-z-shadow;
    opacity: 0.9;
    z-index: 1;
    padding: 5px;

    .focus-content label{
      color: @jpy-brand;
      padding: 0 20px 0 5px;
    }
  }

  .background-palette-swatch{
    width: 16px;
    height: 16px;
    float: left;
    margin: 0 4px 0 0;
  }

  .theme-scratch {
    position: fixed;
    left: -9999px;
    top: -9999px;
  }


  .nbpresent-theme-overlay-backgrounds{

    .nbpresent-background-picker {
      li a {
        width: @sorter-slide-width;
        height: @sorter-slide-height;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }

    svg {
      .bg {
        stroke: @jpy-brand;
        stroke-width: 2px;
        fill: black;
      }
      .handle circle{
        fill: @jpy-brand;
        stroke: @jpy-brand;
        stroke-width: 2px;
      }
    }

    .theme-background-thumbnails{
      padding: 10px 0 30px 0;


      .theme-background-thumbnail{
        float: left;
        margin-bottom: 20px;

        img {
          z-index: -1;
          opacity: 0.5;
          position: absolute;
          max-width: @sorter-slide-width;
          max-height: @sorter-slide-height;
        }

        svg {
          opacity: 0.5;
          rect {
            fill: transparent;
          }
        }
      }
    }
  }

  .nbpresent-theme-overlay-palette{
    padding: 0 10px;
    .palette-chip {
      float:left;
      width: 100%;
      margin-bottom: 10px;
      .palette-chip-example{
        float: left;
        height: 64px;
        width: 64px;
      }
      .palette-chip-details{
      }
    }
  }

  .dropdown-menu{
    max-height: 50vh;
    overflow-y: scroll;
  }

  .btn {
    background: none;
    color: @jpy-brand;
    border: none;
  }

  .selector-font-label{
    color: @jpy-brand;
  }

  .selector-font-size {
    padding: 2px;
    text-align: right;
    border: none;
    background: none;
    color: @jpy-brand;
  }

  .selector-color {
    .dropdown-menu {
      padding: 0;
      background-color: @ui-bg;
    }
    li {
      float: left;
      a {
       width: 32px;
       height: 32px;
     }
    }
  }

  .theme-rules {
    position: fixed;
    bottom: @sorter-height;
    top: 20px;
    overflow-y: auto;
    right: 0;
    padding-right: 20px;
    padding-top: 60px;

    .theme-rule {
      margin-bottom: 10px;

      .selector-label {
        color: @jpy-brand;
        span {
          font-size: 18px;
        }
      }

      .selector-exemplar {
        background-color: #fff;
        padding: 10px;
        * {
          margin: 0;
          padding: 0;
        }
      }
    }
}
}
