@font-path: "../fonts";
@sorter-slide-width: 160px;
@sorter-slide-height: 90px;
@sorter-height: @sorter-slide-height + 120;
@sorter-toolbar-height: 64px;

@app-bar-width: 78px;

@ui-bg: #222;

@editor-sidebar-width: 320px;

@jpy-brand: #f37626;
@active: #337ab7;

@z-editor: 200;
@z-regiontree: 900;
@z-sorter: 900;
@z-layouts: 901;
@z-themer: 901;
@z-present: 999;
@z-presented: 1000;
@z-speaker: 9001;

@z-shadow: 0px 0px 12px 1px rgba(87, 87, 87, 0.2);

@tour-padding: 24px;
